@import "tailwindcss";

@theme {
  --color-sage-50: #f8f9f8;
  --color-sage-100: #e8eae8;
  --color-sage-200: #e1e4e1;
  --color-sage-300: #d1d4d1;
  --color-sage-400: #7b897b;
  --color-sage-500: #5c6c5c;
  --color-sage-600: #4f6d58;
  --color-sage-700: #3e5746;
  --color-sage-800: #2d3e32;
  --color-sage-900: #1a1c1a;
  --color-sage-950: #111311;
}

body {
  background-color: #F8F9F8;
  color: #1A1C1A;
}
